

    <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row">
        <div  class="nav-item float-left"><a href="/" title=""><%= image_tag("favicon.PNG", height: '22', width: '22') %></a></div>
        <a class="navbar-brand mr-auto" href="/">
            <%= link_to 'Hudson Lab', root_path, class: 'navbar-brand' %>
        </a>
        <ul class="navbar-nav flex-row mr-lg-0 ">

            <li class="nav-item">

                 <a class="nav-link pr-2"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pr-2"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3 mr-lg-0" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i><span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right   " aria-labelledby="navbarDropdownMenuLink">
                   <ul>

                   </ul><%= render 'layouts/dropdown' %>

                </div>
            </li>
        </ul>
        <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto pc-menu ml-4 ">
                 <%= render 'layouts/navigation_links' %>
                 <%= render 'layouts/nav_links_for_auth' %>



            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 bg-inverse rounded-0" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 rounded-0" id="top-serch" type="submit">Search</button>
            </form>
        </div>
    </nav>
