<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hudsonlab" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Hudsonlab" %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body>
    <% if user_signed_in? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
<%end%>
       <%= render 'layouts/messages' %>
       <%= yield %>

  </body>
</html>
